@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Vazirmatn,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    line-height: 1.5;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    ::-webkit-scrollbar {
        display: none;
    }
}

body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#app {
    width: 100%;
    height: 100%;
}

.vapp {
    width: 100%;
    height: 100%;
    max-width: 700px;
    padding: 2rem;
    margin: auto;
    overflow-y: auto;
}
